<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.analytics.sdk" >

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 如果需要精确定位的话请加上此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SENDSMS" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <!--self 相关的配置-->
        <activity
            android:name="com.analytics.sdk.view.activity.WebviewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.analytics.sdk.view.activity.DragActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.analytics.sdk.view.activity.SlideUnlockActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity android:name=".view.activity.FloatWindowActivity"/>

        <service android:name="com.analytics.sdk.common.runtime.alarm.JobServiceImpl$AlarmJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".common.runtime.alarm.AlarmReceiver" android:exported="true"/>

                <!--穿山甲 相关的配置
                <provider
                    android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
                    android:authorities="${applicationId}.TTFileProvider"
                    android:exported="false"
                    android:grantUriPermissions="true">
                    <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/file_paths"
                        tools:replace="name,resource"
                        />
                </provider>

                <provider
                    android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
                    android:authorities="${applicationId}.TTMultiProvider"
                    android:exported="false" />
-->

        <!--广点通 相关的配置

        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path"
                tools:replace="name,resource" />
        </provider>
-->

        <!--百度 相关的配置
        <activity
            android:name="com.baidu.mobads.production.rewardvideo.MobRewardVideoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <provider
            android:name="com.baidu.mobads.openad.FileProvider"
            android:authorities="${applicationId}.bd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bd_file_paths"
                tools:replace="name,resource"
                />
        </provider>

        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
-->
    </application>

</manifest>
